<nz-row [nzGutter]="[8, 8]">
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onProforma()">Proforma
      invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onSales()">Sales
      invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onOverdue()">Overdue
      invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onRetainer()">Retainer
      invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle"
      (click)="onTimeSheet()">Timesheet invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onFinal()">Final
      invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle"
      (click)="onCommercial()">Commercial invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle"
      (click)="onRecurring()">Recurring invoice</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onDigital()">Digital
      invoices</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle"
      (click)="onConsolidated()">Consolidated
      invoices</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle" (click)="onMixed()">Mixed
      invoices</button>
  </nz-col>
  <nz-col nzSpan="8">
    <button nz-button [nzSize]="size" nzType="primary" nzShape="round" class="btnStyle"
      (click)="onE()">E-Invoices</button>
  </nz-col>
</nz-row>